<%- include ./partials/header.ejs %>
<%- include ./partials/main_nav.ejs %>
<article>
        <h1>About Me</h1>

        <!-- Profile Picture -->
        <img src="/images/iconpic.jpeg" alt="Profile Picture" border-radius="50%" width="100px" height="auto">

        <!-- Short introduction -->
        <section>
            <h2>Hello!</h2>
            <p>
                My name D'Alo Farrington. I am an international student
                from the Bahamas. Currently, I'm in my 2nd year studying Networking and IT Security at Ontario Tech
                University.
            </p>
        </section>
    </article>

    <!--  Intro video & Cover Poster -->
    <video controls poster="/images/flagpic.png">
        <source src="/images/intro.mp4" type="video/mp4">
    </video>

<%- include ./partials/footer.ejs %>
