<%- include ./partials/header.ejs %>
<%- include ./partials/main_nav.ejs %>
   <article>
    <!--Main article content-->
        <h1>Welcome to my Portfolio!</h1>
        <p> I am D'Alo Farrington and this page has been made to showcase my projects.</p>
        <figure>
            <img src="/images/lunapic.jpeg" alt="Dog picture" width="550px" height="auto">
            <figcaption>
                <p>This is my dog Luna!</p>
            </figcaption>
    
        </figure>
    </article>

<%- include ./partials/footer.ejs %>
</body>

</html>