<%- include ./partials/header.ejs %>
<%- include ./partials/main_nav.ejs %>
 <!--Main Article content-->
    <article>
        <h1>Projects</h1>
        <!-- Project Sections-->
        <section>
            <h2>Networking Final Project</h2>
            <p>In this project, I worked within a group to create a network for a business.
                This network was meant to connet multiple different locations of
                the business across the country to each other.</p>
        </section>

        <section>
            <h2>Writing and Critical Thinking Speech</h2>
            <p>In this project I was required to create and present a speech on AI in the workplace.
                For my speech, I spoke of a personal anecdote of how I saw AI being used in KPMG during my summer
                internship.
            </p>
        </section>

        <section>
            <h2>Management of Enterprise Video</h2>
            <p>For this video, I worked within a group of 5 to create a video on how businesses can
                implent the Sustainable Development Goals to be more enviromentally friendly.</p>
        </section>

        <section>
            <h2>Object Oriented Programming</h2>
            <p>For this project, I worked in a group of 5 to create
                a Python-based program to demonstrate our understanding of the course.
                We did this by creating a car loan program for our business "Sleek Riders" to
                loan out different types of Electric and Gas cars.</p>
        </section>

    </article>

<%- include ./partials/footer.ejs %>
